 @font-face {
	font-family: jap;
	src: url('Jaapokkisubtract-Regular.otf');
}

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      

nav.nav-extended {
    height:auto;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 20px;

}


.carousel .carousel-item{
  width:auto;
  height: 600px;
}



.page-footer {
  padding-bottom: 20px;
  background-color: #efefef;
  color: black;
  text-align: center;
}

.row {
	padding-bottom: auto;
	margin-bottom: auto;
}




.page-title {
	font-size: 4.5em;
	font-family: jap;
}

